<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>upGrad E-Shop</title>
  <link rel="Stylesheet" href="./Style.css">
</head>
<body>
  <header>
    <div class="logo">
      <div class="logo"><a href="@material-ui/icons/ShoppingCart">UpGrad E-Shop</a></div>
      <div class="search">
          <a href=""
              ><input type="text" placeholder="Search..." id="input" />
              <ion-icon class="s" name="search"></ion-icon>
          </a>
      </div>
      <nav class="navbar navbar-expand-lg navbar light">
      <div class="heading">
          <ul>
              <li><a href="./Components/Home.html" class="under">Home</a></li>
              <li><a href="./Components/Add Product.html" class="under">Add Product</a></li>
          </ul>
      </div>